<div class="container-fluid admin_sidebar ">
    <div class="wrapper">
        <div class="side_bar">
            <div class="side_bar_top">
                <div class="logo_wrap ">
                    <a href="#" class="text-decoration-none">
                        <img src="/images/_Pngtree_shopping_bag_icon_for_your_5201340-removebg-preview (2).png"
                            alt="logo">

                    </a>

                </div>
                <div class="side_bar_menu">
                    <div class="menu">
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </div>
                </div>
            </div>
            <div class="side_bar_bottom">
                <ul>
                    <li>
                        <span class="top_curve"></span>
                        <a href="/admin/admindashboard" class="text-decoration-none">
                            <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                            <span class="item">Dashboard</span>
                        </a>
                        <span class="bottom_curve"></span>
                    </li>

                    <li>
                        <span class="top_curve"></span>
                        <a href="/admin/adminuserslist" class="text-decoration-none">
                            <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
                            <span class="item">Users</span>
                        </a>
                        <span class="bottom_curve"></span>
                    </li>

                    <li>
                        <span class="top_curve"></span>
                        <a href="/admin/adminorders" class="text-decoration-none">
                            <span class="icon"><ion-icon name="reorder-three-outline"></ion-icon></span>
                            <span class="item">Orders</span>
                        </a>
                        <span class="bottom_curve"></span>
                    </li>

                    <li>
                        <span class="top_curve"></span>
                        <a href="/admin/adminproduct" class="text-decoration-none">
                            <span class="icon"><ion-icon name="pricetags-outline"></ion-icon></span>
                            <span class="item">Products</span>
                        </a>
                        <span class="bottom_curve"></span>
                    </li>

                    <li>
                        <span class="top_curve"></span>
                        <a href="/admin/admincategory" class="text-decoration-none">
                            <span class="icon"><ion-icon name="grid-outline"></ion-icon></span>
                            <span class="item">Category</span>
                        </a>
                        <span class="bottom_curve"></span>
                    </li>

                    <li >
                        <span class="top_curve"></span>
                        <a href="/admin/adminreport" class="text-decoration-none">
                            <span class="icon"><ion-icon name="newspaper-outline"></ion-icon></ion-icon></span>
                            <span class="item">Report</span>
                        </a>
                        <span class="bottom_curve"></span>
                    </li>

                    <li class="active">
                        <span class="top_curve"></span>
                        <a href="/admin/admincoupon" class="text-decoration-none">
                            <span class="icon"><ion-icon name="cash-outline"></ion-icon></span>
                            <span class="item">Coupon</span>
                        </a>
                        <span class="bottom_curve"></span>
                    </li>

                    <li >
                    <span class="top_curve"></span>
                   <a href="/admin/adminoffer" class="text-decoration-none">
                    <span class="icon"><i class="bi bi-clock"></i></span>
                    <span class="item p-1 mt-2">Offer</span>
                   </a>
                    <span class="bottom_curve"></span>
                   </li> 
                   
                   
                   
                   
                   
                   
                   
                    <li>
                        <span class="top_curve"></span>
                        <a href="/admin/adminlogout" class="text-decoration-none">
                            <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                            <span class="item">Logout</span>
                        </a>
                        <span class="bottom_curve"></span>
                    </li>

                </ul>
            </div>
        </div>





        <div class="main_container p-5">

 <button type="button" class="btn btn-outline-secondary ms-auto" data-bs-toggle="modal"
                    data-bs-target="#coupon" data-bs-whatever=" @mdo"><i class="fa-solid fa-plus"></i>&nbsp;add coupon </button>

        <table class="table table-striped">
  
  <h4 class="text-center fw-bold">COUPON</h4>
  <thead>
    <tr>
      
      <th scope="col">Coupon Name</th>
      <th scope="col">Offer </th>
      <th scope="col">maxium Amount</th>
      <th scope="col">Expiry Date</th>
      <th scope="col">Remove </th>
    </tr>
  </thead>
  <tbody>
   {{#each coupon}}
    <tr>
      
      <td>{{this.couponName}}</td>
      <td>{{this.couponPercentage}}%</td>
       <td>{{this.maxamount}}</td>
      <td>{{this.couponExpDate}}</td>
       
    <td> <a href="/admin/deletecoupon/{{this._id}}"><i class="bi bi-trash-fill"></i></a></td>
    </tr>
   {{/each}}
  </tbody>
</table>


<div class="modal fade" id="coupon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
                <h5 class="modal-title text-center fw-bold" id="exampleModalLabels">Add Coupon</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/admin/addcoupon" id="addCoupon" method="post"
                    class="needs-validation" novalidate>
                    
                    <label class="text-center text-danger" style="display:none;" id="couponerror">coupon already exist </label>
                   
                   <div class="mb-3">
                        <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default"  name="couponName"
                            placeholder="Enter coupon name" required>
                    </div> 
                  
                  
                   <div class="mb-3">
                        <input type="date" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default"  name="couponExpDate"
                            placeholder="Enter coupon date" required>
                    </div>
                   
                   
                    <div class="mb-3">
                        <input type="number" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" name="couponPercentage"
                            placeholder="Enter coupon Percentage" required>
                    </div>

                    <div class="mb-3">
                        <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default" name="maxamount"
                            placeholder="Coupon maxium" required>
                    </div>


                   
                   
                   
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">submit</button>
                    </div>
                </form>
            </div>
      
      
      </div>
    </div>
  </div>
</div>





</div>
</div>
</div>


<script>

$('#addCoupon').submit((e)=>{
    e.preventDefault()
    $.ajax({
        url:'/admin/addcoupon',
        method:'post',
        data:$('#addCoupon').serialize(),
        success:(response)=>{
           
            if(response.status){
                location.reload()
            }
            else{
                 document.getElementById('couponerror').style.display=''
               setTimeout(()=>{

             window.location.reload();
               },500) 
           
           
           
            }

        }
    })
})

</script>