<div class="container-fluid admin_sidebar ">
  <div class="wrapper">
    <div class="side_bar">
      <div class="side_bar_top">
        <div class="logo_wrap ">
          <a href="#" class="text-decoration-none">
            <img src="/images/_Pngtree_shopping_bag_icon_for_your_5201340-removebg-preview (2).png" alt="logo">
            <!-- <span class="text">Admin</span> -->
            <!-- <h4>admin@gmail.com</h4> -->
          </a>

        </div>
        <div class="side_bar_menu">
          <div class="menu">
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </div>
        </div>
      </div>
      <div class="side_bar_bottom">
        <ul>
          <li>
            <span class="top_curve"></span>
            <a href="/admin/admindashboard" class="text-decoration-none">
              <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
              <span class="item">Dashboard</span>
            </a>
            <span class="bottom_curve"></span>
          </li>

          <li>
            <span class="top_curve"></span>
            <a href="/admin/adminuserslist" class="text-decoration-none">
              <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
              <span class="item">Users</span>
            </a>
            <span class="bottom_curve"></span>
          </li>

          <li class="active">
            <span class="top_curve"></span>
            <a href="/admin/adminorders" class="text-decoration-none">
              <span class="icon"><ion-icon name="reorder-three-outline"></ion-icon></span>
              <span class="item">Orders</span>
            </a>
            <span class="bottom_curve"></span>
          </li>

          <li>
            <span class="top_curve"></span>
            <a href="/admin/adminproduct" class="text-decoration-none">
              <span class="icon"><ion-icon name="pricetags-outline"></ion-icon></span>
              <span class="item">Products</span>
            </a>
            <span class="bottom_curve"></span>
          </li>

          <li>
            <span class="top_curve"></span>
            <a href="/admin/admincategory" class="text-decoration-none">
              <span class="icon"><ion-icon name="grid-outline"></ion-icon></span>
              <span class="item">Category</span>
            </a>
            <span class="bottom_curve"></span>
          </li>

          <li>
            <span class="top_curve"></span>
            <a href="/admin/adminreport" class="text-decoration-none">
              <span class="icon"><ion-icon name="newspaper-outline"></ion-icon></ion-icon></span>
              <span class="item">Report</span>
            </a>
            <span class="bottom_curve"></span>
          </li>

          <li>
            <span class="top_curve"></span>
            <a href="/admin/admincoupon" class="text-decoration-none">
              <span class="icon"><ion-icon name="cash-outline"></ion-icon></span>
              <span class="item">Coupon</span>
            </a>
            <span class="bottom_curve"></span>
          </li>

          <li>
                    <span class="top_curve"></span>
                   <a href="/admin/adminoffer" class="text-decoration-none">
                    <span class="icon"><i class="bi bi-clock"></i></span>
                    <span class="item p-1 mt-2">Offer</span>
                   </a>
                    <span class="bottom_curve"></span>
                   </li> 
         
         
         
         
         
         
         
          <li>
            <span class="top_curve"></span>
            <a href="/admin/adminlogout" class="text-decoration-none">
              <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
              <span class="item">Logout</span>
            </a>
            <span class="bottom_curve"></span>
          </li>

        </ul>
      </div>
    </div>
    <div class="main_container">




      <div class="container-fluid p-2">
       
      
       
        <table class="table   ml-3" id="table_id">
          <thead class="p-5 mt-5 ml-5">
            <tr>
              {{!-- <th class="text-primary" scope="col">Order Id</th> --}}
              <th class="text-primary" scope="col">Name</th>
              <th class="text-primary" scope="col">Order Date</th>
              <th class="text-primary" scope="col">Price</th>
              <th class="text-primary" scope="col">Phonenumber</th>
              <th class="text-primary" scope="col">Address</th>
              <th class="text-primary" scope="col">Status</th>
              <th class="text-primary" scope="col">Payment Method</th>
              <th class="text-primary" scope="col">Options</th>
              {{!-- <th class="text-primary" scope="col">methods</th> --}}
            </tr>
          </thead>
          <tbody>
            {{#each response}}
            <tr>
              {{!-- <td>{{this._id}}</td> --}}
              <td>{{this.deliveryDetails.name}}</td>
              <td>{{this.displayDate}}</td>
              <td>{{this.totalAmount}}</td>
              <td>{{this.deliveryDetails.mobile}}</td>
              <td>{{this.deliveryDetails.housename}}(ho),<br>{{this.deliveryDetails.streetAddress}},<br>{{this.deliveryDetails.townAddress}},<br>{{this.deliveryDetails.districAddress}},pin:&nbsp;{{this.deliveryDetails.pincode}}</td>
              <td>{{this.status}}</td>
              <td>{{this.paymentMethod}}</td>

              <td>

                {{#ifCheck this.status "cancelled"}}

                <a href="#" class="btn btn-danger ">Cancelled</a>

                {{!-- {{else}} --}}
                {{!-- <button onclick="orderCancel('{{this._id}}')" class="btn btn-warning ">Cancel</button> --}}

                {{!-- <div class="dropdown">
                  <button class="btn btn-secondary  dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {{this.status}}
                  </button> --}}
                  {{!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1"> --}}
                    {{!-- <li><a class="dropdown-item" href="/admin/cancel-userorder/{{this._id}}">cancel</a></li> --}}
                    {{!-- <li> <button onclick="orderCancel('{{this._id}}')" class="btn btn-light">Cancel</button> </li>
                    <li><button onclick="orderShipped('{{this._id}}')" class="btn btn-light ">Shipped</button></li>
                    <li><button onclick="orderDeliverd('{{this._id}}')" class="btn btn-light ">Deliverd</button></li>
                  </ul>
                </div> --}}




                {{/ifCheck}}


             
             {{#ifCheck this.status "placed"}}

                 <div class="dropdown">
                  <button class="btn btn-secondary  dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {{this.status}}
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    {{!-- <li><a class="dropdown-item" href="/admin/cancel-userorder/{{this._id}}">cancel</a></li> --}}
                    <li> <button onclick="orderCancel('{{this._id}}')" class="btn btn-light">Cancel</button> </li>
                    <li><button onclick="orderShipped('{{this._id}}')" class="btn btn-light ">Shipped</button></li>
                    <li><button onclick="orderDeliverd('{{this._id}}')" class="btn btn-light ">Deliverd</button></li>
                  </ul>
                </div>

                {{/ifCheck}}

                {{#ifCheck this.status "pending"}}

                 <div class="dropdown">
                  <button class="btn btn-secondary  dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {{this.status}}
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    {{!-- <li><a class="dropdown-item" href="/admin/cancel-userorder/{{this._id}}">cancel</a></li> --}}
                    <li> <button onclick="orderCancel('{{this._id}}')" class="btn btn-light">Cancel</button> </li>
                    <li><button onclick="orderShipped('{{this._id}}')" class="btn btn-light ">Shipped</button></li>
                    <li><button onclick="orderDeliverd('{{this._id}}')" class="btn btn-light ">Deliverd</button></li>
                  </ul>
                </div>

                {{/ifCheck}}
             
               {{#ifCheck this.status "shipped"}}

                 <div class="dropdown">
                  <button class="btn btn-secondary  dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {{this.status}}
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    {{!-- <li><a class="dropdown-item" href="/admin/cancel-userorder/{{this._id}}">cancel</a></li> --}}
                    <li> <button onclick="orderCancel('{{this._id}}')" class="btn btn-light">Cancel</button> </li>
                    <li><button onclick="orderShipped('{{this._id}}')" class="btn btn-light ">Shipped</button></li>
                    <li><button onclick="orderDeliverd('{{this._id}}')" class="btn btn-light ">Deliverd</button></li>
                  </ul>
                </div>

                {{/ifCheck}}

                 {{#ifCheck this.status "deliverd"}}

                 <a href="#" class="btn btn-success">Deliverd</a>

                {{/ifCheck}}

                
                 {{#ifCheck this.status "order-return-pending"}}

                 <div class="dropdown">
                  <button class="btn btn-secondary  dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Order Return
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    
                    <li> <button onclick="cancelRetrun('{{this._id}}')" class="btn btn-light">Cancel Return</button> </li>
                   
                    <li><button onclick="acceptReturn('{{this._id}}')" class="btn btn-light "> Returned</button></li>
                  </ul>
                </div>

                {{/ifCheck}}
             
              {{#ifCheck this.status "returned"}}
            
                 <a href="#" class="btn btn-danger">Returned</a>
               
               {{/ifCheck}}
             
             
             <a href="/admin/userOderDetails/{{this._id}}" class="btn btn-success mt-2">Details</a>
             
              <hr>
              </td>


              {{!-- <td>

                <div class="dropdown">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                    Dropdown button
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Link 1</a></li>
                    <li><a class="dropdown-item" href="#">Link 2</a></li>
                    <li><a class="dropdown-item" href="#">Link 3</a></li>
                  </ul>
                </div>



              </td> --}}




            </tr>
            {{/each}}



          </tbody>
        </table>
     
     {{!-- pagination --}}
   <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
	{{#each pages}}
    <li class="page-item" ><a class="page-link"  href="/admin/adminorders?page={{this}}" aria-label="page {{this}}">{{this}}</a></li>
   {{/each}}
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{{!-- pagination --}}
     
     
     
      </div>

    </div>
  </div>
</div>
</div>


<script>
  function orderCancel(orderId) {
    console.log(orderId, "orderId of user")

    swal({
      title: "Are you sure?",
      text: "Do you want to cancel this user order?",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    }).then((willDelete) => {
      if (willDelete) {

        $.ajax({
          url: '/admin/cancel-userorder/' + orderId,
          type: 'put',
          success: (response) => {
            console.log(response, "hloooosss")

            location.reload();
          }
        })
      }
    })

  }



  //shipping

  function orderShipped(orderId) {
    console.log(orderId, "orderId of user")

    swal({
      title: "Are you sure?",
      text: "is that product shipped??",
      icon: "success",
      buttons: true,
      dangerMode: true,
    }).then((willDelete) => {
      if (willDelete) {

        $.ajax({
          url: '/admin/shipping-userorder/' + orderId,
          type: 'put',
          success: (response) => {
            console.log(response)

            location.reload();
          }
        })
      }
    })

  }

  //delived

  function orderDeliverd(orderId) {
    console.log(orderId, "orderId of user")

    swal({
      title: "Are you sure?",
      text: "is the product delivered??",
      icon: "success",
      buttons: true,
      dangerMode: true,
    }).then((willDelete) => {
      if (willDelete) {

        $.ajax({
          url: '/admin/deliverd-userorder/' + orderId,
          type: 'put',
          success: (response) => {
            console.log(response)

            location.reload();
          }
        })
      }
    })

  }


//cancelRetrun

function cancelRetrun(orderId) {
    console.log(orderId, "orderId of user")

    swal({
      title: "Are you sure?",
      text: "do you want to cancel the return??",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    }).then((willDelete) => {
      if (willDelete) {

        $.ajax({
          url: '/admin/cancel-return/' + orderId,
          type: 'put',
          success: (response) => {
            console.log(response)

            location.reload();
          }
        })
      }
    })

  }

//accept return

function acceptReturn(orderId) {
    console.log(orderId, "orderId of user")

    swal({
      title: "Are you sure?",
      text: "do you want to return the order??",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    }).then((willDelete) => {
      if (willDelete) {

        $.ajax({
          url: '/admin/accept-return/'+ orderId,
          type: 'put',
          success: (response) => {
            console.log(response)

            location.reload();
          }
        })
      }
    })

  }


</script>