<section style="background-color: #eee; mt-5">
  <div class="container  py-5">
   
 {{#if userDetails}}
    <div class="row mt-5 ">
      <div class="col-lg-4 ">
    
   
        <div class="card mb-4 mt-5">
          <div class="card-body text-center" style="box-shadow: 0 0 10px rgb(175, 154, 127);background-color:white;">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{userDetails.fname}}</h5>
            <p class="text-muted mb-1">{{userDetails.email}}</p>
          </div>
        </div>
       
       
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0" style="box-shadow: 0 0 10px rgb(175, 154, 127);background-color:white;">
            <ul class="list-group list-group-flush rounded-3">
             
              <li class="list-group-item d-flex  align-items-center p-3 ">
                <i class="fab fa-github fa-lg" style="color: #333333;"></i>
        <a href="/userprofile/{{userDetails._id}}" class="text-decoration-none text-dark"><p class="mb-0"><span class="icon"><ion-icon name="person-outline"></ion-icon>&nbsp  User info </ion-icon></span></p></a>             
              </li>
              {{!-- <li class="list-group-item d-flex  align-items-center p-3">
                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
        <a href="" class="text-decoration-none text-dark"><p class="mb-0"><span class="icon"><ion-icon name="home-outline"></ion-icon>&nbsp  Address Management </ion-icon></span></p></a>
              </li> --}}
              <li class="list-group-item d-flex  align-items-center p-3">
                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
        <a href="/userwallet/{{userDetails._id}}" class="text-decoration-none text-dark"><p class="mb-0"><span class="icon"><ion-icon name="wallet-outline"></ion-icon>&nbsp  Wallet</ion-icon></span></p></a>
              </li>
             
         
           <li class="list-group-item d-flex  align-items-center p-3 ">
                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
        <a href="/userOrderAddress/{{userDetails._id}}" class="text-decoration-none text-dark"><p class="mb-0"><span class="icon"><ion-icon name="wallet-outline"></ion-icon>&nbsp  Address</ion-icon></span></p></a>
              </li>
                  
             
             
             
              <li class="list-group-item d-flex  align-items-center p-3 active">
                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
        <a href="/changepassword/{{userDetails._id}}" class="text-decoration-none text-dark"><p class="mb-0"><span class="icon"><ion-icon name="key-outline"></ion-icon>&nbsp  Change Password </ion-icon></span></p></a>
              </li>
            </ul>
          </div>
        </div>
      </div>




{{!-- change password --}}



<div class="col-lg-8 mt-5 ">
       
  <div> <p class="text-center h1 fw-bold mb-3 mx-1 mx-md-4 mt-4 text-warning">Change<span class="text-dark">Password</span></p></div>      
       
       
        <div class="card mb-4" id="userInfo">
          <div class="card-body p-5" style="box-shadow: 0 0 10px rgb(175, 154, 127);background-color:white;">

   <form id="passwordverify">
 
  
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Current Password">
    <input type="text" name="userId" id="" value="{{userDetails._id}}" hidden>
    </div>
  </div>


<div >
        <button onclick="verifyPassword()" id="btn-verifypassword" class="btn btn-warning mt-3">verify password</button>
     </div>

</form>


{{!-- change password --}}

<form id="passwordchange" style="display: none;">
 
  
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">New Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" name="newpassword" minlength="4" placeholder="Enter the New Password">
   </div>
   </div>

   <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Confirm Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" name="repassword" minlength="4" placeholder="Confirm Your Password">
   </div>
   </div>
   
    <input type="text" name="userId" id="" value="{{userDetails._id}}" hidden>
    
  


<div >
        <button onclick="changePassword()" id="btn-changepassword" class="btn btn-warning mt-3">reset password</button>
     </div>

</form>







          </div>
        </div>
    </div>














{{!-- ends --}}

     
     
     
     
     
     
     
     
      </div>
     {{/if}}
     
      </div> 
      </div>
    </div>
  </div>
</section>

<script>

$('#passwordverify').submit((e)=>{
   e.preventDefault() 
   $.ajax({
    url:'/password-verify',
    method:'post',
    data:$('#passwordverify').serialize(),
    success:(response)=>{
    console.log(response.status,"heheheheheheh")
        if(response.status){
       swal("ready to change password");
   document.getElementById('passwordverify').style.display="none"
   document.getElementById('passwordchange') .style.display=""
   
    }else{

       swal({
        text:"wrong password",
        button:"ok",
       })
       .then((willDelete)=>{
        if(willDelete){
        location.reload()

        }
       })
    }
    }
   })

})




$('#passwordchange').submit((e)=>{
    e.preventDefault()
    $.ajax({
        url:'/change-user-password',
        method:'post',
        data:$('#passwordchange').serialize(),
        success:(response)=>{
           
            if(response.status){
     
     swal({

title:"Success",
text:"successfully updated",
icon:"success",
button:"ok",
     }).then((willSuccess)=>{
        if(willSuccess){
            location.reload()
        }
     })

      }
      else{
        
        swal({
            text:"wrong passwords",
            button:"ok",

        }).then((willDelete)=>{
            if(willDelete){
               location.reload() 
            }
        })
      }
         
     
}
     })
    })



</script>