<div class="row">
  <div class="col-md-6 m-auto">
    <div class="container mt-5 pl-5">
      <h2 class="text-center fw-bold">Edit Products</h2>
      
        
      
      <form action="/admin/editproducts/{{product._id}}" enctype="multipart/form-data" method="post">

        <div class="from-group">

          <label class="pt-2">Name</label>
          <input type="text" class="form-control mt-2" name="name" value="{{product.name}}" required="">

        </div>

        {{!-- <div class="from-group">

          <label class="pt-2">Category</label>
          <input type="text" class="form-control mt-2" name="category" value="{{product.category}}"  required="">

        </div> --}}



        <div class="from-group">

          <label class="pt-2">Description</label>
          <input type="text" class="form-control" name="description" value="{{product.description}}" required="">

        </div>

        <div class="from-group">

          <label>Price</label>
          <input type="text" class="form-control" name="price" value="{{product.price}}" required="">

        </div>
          
     <div class="from-group">

          <label>Quantity</label>
          <input type="number" class="form-control" name="stock" required="">

        </div>
    
    <div class="from-group mt-4">
 <label for="">Choose the category:</label>
    
     <select name="category">
    {{#each category}}
    <option name="category" value="{{this.name}}">{{this.name}}</option>
     {{/each}}
  </select>

    </div>
    
    
  
         <div class="from-group ">

          <label>Image</label>
        <img style="width: 50px; height:50px" src="{{product.image.[0]}}" alt="">
         <input type="file" class="form-control" name="image1" id="image1" value={{product.image.[0]}} accept="image/*" >
          
           <img style="width: 50px; height:50px" src="{{product.image.[1]}}" alt="">
           <input type="file" class="form-control" name="image2" id="image2" value={{product.image.[1]}} accept="image/*" >
          
           <img style="width: 50px; height:50px" src="{{product.image.[2]}}" alt="">
           <input type="file" class="form-control" name="image3" id="image3" value={{product.image.[2]}} accept="image/*" >

        </div>


        <button type="submit" class="btn btn-primary float-right mt-3">reset</button>
        <a href="/admin/backadminproduct" class="btn btn-primary mt-3">Back</a>

      </form>
    </div>
  </div>
</div>